*{
	padding: 0;
	margin: 0;
}

.container{
	margin: 40px 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.satu{
	border: solid;
	width: 200px;
	height: 200px;
	background-color: green;
	border-image-source: url(../img/hearts.png);
	border-image-width: 20px;
	border-image-slice: 20 22;
	border-image-repeat: round;
	border-image-outset: 20px;

	box-shadow: 30px 30px 2px 1px rgba(14, 14, 14, 0.8);

	margin-bottom: 50px;


}

.dua{

	border: 30px solid;
  	padding: 100px;	
  	background-color: blue;
  	border-image: url(../img/border1.png) 35 round;
  	border-image-outset: 15px;

	box-shadow: 10px 10px 10px 0px rgba(14, 14, 14, 0.8);
}